
<!doctype html>
<html lang="en">

<head>
  <title>Login del administrador</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
  <!-- Acceso desde la carpeta css -->

</head>

<body>

<div class="container"> 
  <div class="row">
    <div class="col-md-4"> 
      <!-- row vacios se usan para espaciar correctamente -->
    </div>

     <br>
    

    <div class="col-md-4"><br><br>

      {% if mensaje %}
      <div class="alert alert-danger" role="alert">
      <strong>{{mensaje}}</strong> 
      </div>
      {% endif %}
      <!-- Mensaje de alerta creado en app.py -->
      <!-- Condicional if, si existe un objeto almacenado en la variable mensaje se mostrara al validar -->

      <div class="card-body"><br>
        Acceso
        <form action="/admin/login/accede" method="post" enctype="multipart/form-data">
            <div class="mb-3">
               <label for="txtUsuario" class="form-label">Usuario</label>
               <input type="text"
               class="form-control" name="txtUsuario" id="txtUsuario" aria-describedby="helpId" placeholder="Escribe">
            </div>

            <div class="mb-3">
               <label for="txtPassword" class="form-label">Password</label>
               <input type="password"
               class="form-control" name="txtPassword" id="txtPassword" aria-describedby="helpId" placeholder="Escriba">
            </div>


      
            <button type="submit" class="btn btn-danger">Enviar</button> 

            <!-- se recogen los datos con el form y se envian con el submit a la ruta selecionada en el form action -->





        </form>

    </div>

    <div class="col-md-4"> 
    </div>

   </div>

</div>



  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
